/*
.datos  {
  background: #FFFFFF;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 10px 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 50px;
  font-family: 'Montserrat', sans-serif;
}*/




.datos {
  border-collapse: collapse;
border: 2px solid gray;
 padding: 10px;
 text-align: center;
width: 100%;
box-sizing:border-box ;
margin: auto;
background-color: white;

 
}

h1{
  font-size: 25px;
 }

 h2{
  font-size: 20px;
 }

h3{
  font-size: 25px;
 }

 section{
  font-size: 25px;
 }

.info {
  
  gap: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  }