

/*
.categoria  {
  background: #FFFFFF;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 10px 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 50px;
  font-family: 'Montserrat', sans-serif;
  width: 90%;
}





.categoria{
    width: 100%;
   
    padding: 32px;
    box-sizing:border-box ;
    text-align: center;
    font-size: 32px;
    position: relative;
}

.input-color{
    position: absolute;
    top: 20px;
    right: 50px;

}

.categoria h3{
    font-weight: 400;
    color: #212121;
   
    display: inline-block;
    padding-bottom: 8px;
}

.videos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.categoria
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
*/
